#asignature {
    margin-top: var(--gap);
}
#asignatureWrapper {
    background: var(--darkBlue);
    padding: var(--gap-md);
    color: var(--white)
}
#asignatureWrapper .teacherInfo {
    text-align: center;
}
#asignatureWrapper.grid-2 {
    grid-template-columns: minmax(auto, 250px) auto;
}
#asignature ul#comments {
    width: 60%;
    margin: var(--gap) auto;
}
#asignature ul#comments .comment {
    width: 100%;
    max-width: 100%;
    background: var(--darkCyan);
    padding: var(--gap-md);
}
#asignature ul#comments .comment.marginLeft {
    margin-left: 40px !important;
    width: calc( 100% - 30px );
    background: var(--violet)
}
#asignature ul#comments .comment .title {
    position: relative;
    display: inline-block;
}
#asignature ul#comments .comment .title h2 {
    padding: 0 var(--gap-md) var(--gap-sm) var(--gap-md);
    border-bottom: var(--gap-sm) solid var(--white);
}
#asignature ul#comments .comment .title h2.trigger {
    cursor: pointer;
}
#asignature ul#comments .comment .title #profile {
    position: absolute;
    width: 100%;
    min-width: 250px;
    top: 42px;
    left: -20px;
    background: var(--cyan);
    box-shadow: 0 0 var(--gap-md) var(--gray);
    z-index: 99;
}
#asignature ul#comments .comment .title #profile h2 {
    border: none;
    padding: 0;
    margin-bottom: 72px;
}
#asignature ul#comments .comment .title #profile #allScoresWrapper {
    width: 100%;
    height: 72px;
    padding: var(--gap-sm) 0 0 var(--gap-md);
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--darkBlue);
    border-radius: 0 0 var(--gap-md) var(--gap-md);
}
/* #asignature ul#comments .comment p {
    marg
} */