#asignature {
    margin-top: var(--gap);
}
#asignatureWrapper {
    background: var(--darkBlue);
    padding: var(--gap);
    color: var(--white)
}
#asignatureWrapper.grid-2 .span {grid-column: 1}
#asignatureWrapper .teacherInfo {
    text-align: center;
    background: var(--darkCyan);
    padding: var(--gap) 0 var(--gap) 0;
}
#asignature ul#comments, #asignature #commentsTitle {
    width: 90%;
    margin: 0 auto;
}
#asignature ul#comments .comment {
    width: 100%;
    max-width: 100%;
    background: var(--darkCyan);
    padding: var(--gap-md);
    transition: background var(--animation-timing) ease-out;
}
#asignature ul#comments .comment:hover {
    box-shadow: 0 0 var(--gap) var(--gray);
    background: var(--cyan);
}
#asignature ul#comments .comment.marginLeft {
    margin-left: 40px !important;
    width: calc( 100% - 40px );
    background: var(--darkViolet)
}
#asignature ul#comments .comment.marginLeft:hover {
    box-shadow: 0 0 var(--gap) var(--gray);
    background: var(--violet);
}
#asignature ul#comments .comment .title {
    position: relative;
    display: inline-block;
}
#asignature ul#comments .comment .title h2 {
    padding: 0 var(--gap-md) var(--gap-sm) var(--gap-md);
    border-bottom: var(--gap-sm) solid var(--white);
}
#asignature ul#comments .comment .title h2 {
    cursor: pointer;
}
#asignature ul#comments .comment .title #profile {
    position: absolute;
    width: 150%;
    top: 42px;
    left: 0;
    padding-bottom: 92px; /* because #allScoresWrapper (pos: absolute) */
    background: var(--cyan);
    box-shadow: 0 0 var(--gap-md) var(--gray);
    z-index: 99;
}
#asignature ul#comments .comment .title #profile .button {
    background: var(--darkBlue);
    color: var(--white)
}
#asignature ul#comments .comment .title #profile .upload {
    background: var(--darkGreen);
}
#asignature ul#comments .comment .title #profile h2 {
    border: none;
    padding: 0;
}
#asignature ul#comments .comment .title #profile #allScoresWrapper {
    width: 100%;
    height: 72px;
    padding: var(--gap-sm) 0 0 var(--gap-sm);
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--darkBlue);
    border-radius: 0 0 var(--gap-md) var(--gap-md);
}
/* Comments title */
#commentsTitle a.right {
    float: none;
    margin: 0 auto;
}
@media (min-width: 768px) {
    #asignatureWrapper.grid-2 { /* replaces original grid styling */
        grid-template-columns: 100%;
    }
}
@media (min-width: 960px) { /* no lo pongo en 768px porque en 960 se ve mejor */
    #asignature ul#comments, #asignature #commentsTitle {
        width: 80%;
    }
    #asignatureWrapper.grid-2 {
        grid-template-columns: 250px auto;
    }
    #asignatureWrapper.grid-2 .span {grid-column: 1 / span 2}
    #asignatureWrapper h1.textCenter {
        padding-left: 250px;
    }
    #commentsTitle a.right {
        float: right;
        margin: 0;
    }
}