/* Basic reset */
*, html, body {
    font-family: 'Exo 2', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
	overflow-x: hidden;
	overflow-y: scroll;
	background: var(--gray);
}
/*  */
h1, h2, h3, h4, h5, h6 {
	margin-bottom: var(--gap);
}
h1, h2, h3, h4, h5, h6, p {
	font-family: 'Asap', sans-serif;
	font-weight: 300;
	color: var(--white);
}
p {
	font-size: 20px;
	line-height: 30px;
	/* word wrap with style :P */
	word-wrap: break-word;
    -moz-hyphens:auto; 
    -webkit-hyphens:auto; 
    -o-hyphens:auto; 
    hyphens: auto;
}
/*  */
a {
	cursor: pointer;
	text-decoration: none;
}
/* Colors */
:root { /* Santiago Gimenez add-on */
	--gray: #5b616d;
	--gray-alt: #8990a0;
	--darkBlue: #043345;
	--violet: #5375e1;
	--darkCyan: #0d9aac;
	--cyan: #01b6c7;
	--darkGreen: #009865;
	--red: #f65867;
	--white: #fefefe;
	/*	*/
	--paragraphSize: 1rem;
	/* --lineHeight: 2rem; */
	/*  */
	--gap: 20px;
	--gap-md: 10px;
	--gap-sm: 5px;
	/*  */
	--animation-timing: .5s;
}
.legend {color: var(--gray-alt)}
/* Main */
main.wrapper {
	width: 80%;
	margin: 0 auto;
	/* 20% reserved for sidebar */
}
/* Centering */
div.center, .button.center {margin: 0 auto}
/* Margin */
.marginLeft, .margin-left {margin-left: var(--gap) !important}
.marginTop, .margin-top {margin-top: var(--gap) !important}
.marginBottom, .margin-bottom {margin-bottom: var(--gap) !important}
.marginRight, .margin-right {margin-right: var(--gap) !important}
/* Padding */
.padding {padding: var(--gap) !important}
/* Border */
.border.cyan {border: var(--gap-sm) solid var(--cyan)}
.border.darkGreen {border: var(--gap-sm) solid var(--darkGreen)}
.border.darkBlue {border: var(--gap-sm) solid var(--darkBlue)}
.border.red {border: var(--gap-sm) solid var(--red)}
/* Text */
.textLeft {text-align: left}
.textCenter {text-align: center}
.textRight {text-align: right}
span.danger, p.danger {
	color: var(--red);
}
/* Lists */
ul.minimal {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.minimal li {
	padding: 0;
	margin: 0;
}
ul.inline li {
	float: left;
	margin: 0 var(--gap-md) 0 var(--gap-md)
}
ul {
	line-height: 32px;
	font-size: 16px;
}
/* Clases que usamos en 99% de elementos, así que vale la pena re-utilizar */
.rounded {
    border-radius: var(--gap-md);
}
.border {
	border: 1px solid var(--gray);
}
/* Responsive styling */
.removeMobile, .removeMobileInline {
	display: none !important;
}
@media (min-width: 768px) {
	.removeMobile {display: block !important}
	.removeMobileInline {display: inline-block !important}
}